@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jersey";
  src: url("fonts/Jersey10-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "rosmatika";
  src: url("fonts/RosmatikaRegular-BWA45.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  font-weight: 700;
  src: url("fonts/Montserrat-Bolet.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  font-weight: 400;
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@layer base {
  /* Light Theme */
  [class~="light"] {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: #d35d09; /* Rust color */
    color: #ffffff; /* White text for contrast */

    /* Styling common elements */
    h1, h2, h3, h4, h5, h6 {
      color: #ffcc00; /* Gold color for headings */
    }
    
    a {
      color: #ffcc00; /* Gold color for links */
      text-decoration: underline; /* Underline links */
    }
    
    a:hover {
      color: #ffd700; /* Bright gold on hover */
    }
    
    p {
      color: #ffffff; /* White text for paragraphs */
    }
    
    button {
      background-color: #ffcc00; /* Gold button */
      color: #000000; /* Black text on button */
    }

    button:hover {
      background-color: #ffd700; /* Brighter gold on hover */
    }

    /* Additional element styles */
    input, textarea {
      background-color: #4d4d4d; /* Dark background for inputs */
      color: #ffffff; /* White text for inputs */
      border: 1px solid #ffcc00; /* Gold border for inputs */
    }

    /* Add other element styles as necessary */
  }
}

@layer base {
  /* Light Theme */
  [class~="light"] {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: hsl(60, 9%, 87%); /* Light background */
    color: #262625; /* Dark text for contrast */

    /* Sidebar styles */
    --sidebar-bg: #3b2e2a;
    --sidebar-fg: #c8c9db;
    --sidebar-active: #e69f67;
    --scrollbar: var(--sidebar-fg);

    /* Styling common elements */
    h1, h2, h3, h4, h5, h6 {
      color: #e69f67; /* Sidebar active color for headings */
    }
    
    a {
      color: #2b79a2; /* Links color */
      text-decoration: underline; /* Underline links */
    }
    
    a:hover {
      color: #e69f67; /* Active color on hover */
    }
    
    p {
      color: #262625; /* Dark text for paragraphs */
    }
    
    button {
      background-color: #e69f67; /* Active button color */
      color: #262625; /* Dark text on button */
    }

    button:hover {
      background-color: #d19a47; /* Darker hover color for buttons */
    }

    /* Additional element styles */
    input, textarea {
      background-color: #fafafa; /* Light background for inputs */
      color: #262625; /* Dark text for inputs */
      border: 1px solid hsl(60, 9%, 82%); /* Light border for inputs */
    }

    /* Add other element styles as necessary */
  }
}

@layer base {
  /* Dark Theme */
  [class~="dark"] {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: hsl(200, 7%, 8%); /* Dark background */
    color: #98a3ad; /* Light grey text for contrast */

    /* Sidebar styles */
    --sidebar-bg: #292c2f;
    --sidebar-fg: #a1adb8;
    --sidebar-active: #3473ad;
    --scrollbar: var(--sidebar-fg);

    /* Styling common elements */
    h1, h2, h3, h4, h5, h6 {
      color: #3473ad; /* Sidebar active color for headings */
    }
    
    a {
      color: #2b79a2; /* Links color */
      text-decoration: underline; /* Underline links */
    }
    
    a:hover {
      color: #1f2124; /* Dark hover color */
    }
    
    p {
      color: #98a3ad; /* Light grey text for paragraphs */
    }
    
    button {
      background-color: #3473ad; /* Active button color */
      color: #ffffff; /* White text on button */
    }

    button:hover {
      background-color: #1f2124; /* Darker hover color for buttons */
    }

    /* Additional element styles */
    input, textarea {
      background-color: #43484d; /* Darker background for inputs */
      color: #98a3ad; /* Light grey text for inputs */
      border: 1px solid #3473ad; /* Active color border for inputs */
    }

    /* Add other element styles as necessary */
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-nf-color;
}

/* Title animation */
@keyframes slideTitleUp {
  0% {
    transform: translate(0px, 120%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

@keyframes removeOverflow {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

.animated-title {
  position: relative;
  display: inline-block;
  margin: -0.15em;
  padding: 0.15em;
  vertical-align: top;
  overflow: hidden;
  animation-name: removeOverflow;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.animated-title-element {
  position: relative;
  display: inline-block;
  transform: translate(0px, 120%);
  will-change: auto;
  animation-name: slideTitleUp;
  animation-duration: 1.2s;
  animation-delay: 0.05s;
  animation-timing-function: cubic-bezier(0.34, 0.34, 0, 0.97);
  animation-fill-mode: forwards;
}

.animated-title:nth-of-type(1) .animated-title-element {
  animation-delay: 0.15s;
}

.animated-title:nth-of-type(2) .animated-title-element {
  animation-delay: 0.3s;
}

.animated-title:nth-of-type(3) .animated-title-element {
  animation-delay: 0.45s;
}

.animated-title:nth-of-type(4) .animated-title-element {
  animation-delay: 0.6s;
}

.animated-title:nth-of-type(5) .animated-title-element {
  animation-delay: 0.7s;
}

.animated-title:nth-of-type(6) .animated-title-element {
  animation-delay: 0.75s;
}

/* ANIMATED BUTTON */

.button {
  @apply relative;
  @apply overflow-hidden;
  @apply bg-nf-dark ring-nf-white w-full rounded-full px-4 py-8 text-lg font-normal shadow-sm outline-none ring-1 ring-inset md:py-12 md:text-3xl lg:col-span-2 lg:row-span-1 lg:py-16;

  transform: translateZ(0);
  transition: transform 0.3s;
}

.button:hover {
  transform: scaleX(1.02);
  transition: transform 0.6s cubic-bezier(0.34, 5.56, 0.64, 1);
}

.button-cta-border {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  z-index: 3;
  border: 1px solid;
  @apply border-nf-white;
  border-radius: 1000px;
}

.button-cta-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: inherit;
}

.button-cta-ripple span {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  @apply bg-nf-white;
  border-radius: 50% 50% 0 0;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.button-cta:hover .button-cta-ripple span {
  border-radius: 0;
  transform: translateY(0);
  transition-duration: 0.5s, 0.9s;
}

.button-cta-title {
  position: relative;
  display: block;
  padding: 0 0.16em 0 0;
  overflow: hidden;
  z-index: 2;
}

.button-cta-title span {
  display: block;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  @apply text-nf-white;
}

.button-cta:hover .button-cta-title span {
  transform: translateY(-110%);
}

.button-cta-title span:after {
  content: attr(data-text);
  display: block;
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  @apply text-nf-dark;
}

.inverse.button {
  @apply bg-nf-white;
}

.inverse .button-cta-border {
  @apply border-nf-dark;
}

.inverse .button-cta-ripple span {
  @apply bg-nf-dark;
}

.inverse .button-cta-title span {
  @apply text-nf-dark;
}

.inverse .button-cta-title span:after {
  @apply text-nf-white;
}